.small-blu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #006cfa;
    border: solid 1px white;
}

h1{
    font-size: 30px;
}

h2{
    color: white;
    font-size: 16px;
    text-align: center;
}

h3{
    font-size: 24px;
}

.big-blu{
    height: 110px;
    background-color: #006cfa;
    border: solid 1px white;
    padding: 22px;
}

.line-6{
    margin-bottom: 30px;
}

.small-green{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #00e165;
    border: solid 1px #006cfa;
}

#offset{
    margin-top: 30px;
}

.last{
    margin-bottom: 30px;
}